################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JsonQL/obj/Debug
/JsonQL/bin/Debug
/.vs/JsonQL
/packages
